appdirs==1.4.4
APScheduler==2.1.2
certifi==2020.6.20
chardet==3.0.4
configparser==4.0.2
contextlib2==0.6.0.post1
distlib==0.3.0
enum34==1.1.10
example-pkg-tishka25==0.0.1
filelock==3.0.12
future==0.18.2
idna==2.9
importlib-metadata==1.6.1
importlib-resources==2.0.1
iso8601==0.1.12
JetFileII==0.0.1
pathlib2==2.3.5
pipenv==2020.6.2
pyserial==3.4
PyYAML==5.4
requests==2.24.0
RPi.GPIO==0.7.0
scandir==1.10.0
singledispatch==3.4.0.3
six==1.15.0
socketpool==0.5.3
typing==3.7.4.1
urllib3==1.25.9
virtualenv==20.0.24
virtualenv-clone==0.5.4
zipp==1.2.0
